#countries-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

}
.country{
    border: 1px solid rgb(32, 75, 218);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 300px;
}
.country-name{
    font-size: 40px;
    color: hotpink;
}
.capital-name{
    font-size: 30px;
    color: indianred;
}
#country-details img{
    width: 250px;
    margin: 10px;
}